@import '../../global.scss'; 
.burgermenu{
    width: 20vw;
    height: calc(100vh - 70px);
    background-color: $darker;
    position: fixed;
    right: -400px;
    top: 70px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
    transition: all 0.7s ease;
    @include mobile{
        width: 60vw;
    }
    &.active{
        right: 0;
    }
    ul{
        // border: white 1px solid;
        // width: 20vw;
        li{
            // border: yellow 1px solid;
            height: 6vh;
            margin: 2.6rem 0px;
        }
    }
    a{
        font-size: 1.4rem;
        letter-spacing: 0.08rem;
        text-decoration: none;
        color: $lightest;
        transition: all 0.3s ease-in-out;
    }
    a:hover{
        color: white;
        font-size: 1.45rem;
        text-shadow: rgb(133, 132, 132) 1px 1px 3px;
    }
}