@import '../../global.scss';

.contact{
    background-color: $darkest;
    display: flex;
    @include mobile{
        flex-direction: column;
    }
    
    .left{
        flex: 1;
        overflow: hidden;
        #connect-image{
            height: 100%;
            width: 100%;
        }
    }
    .right{
        // border: indigo 1px solid;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        h2{
            font-size: 2.5rem;
            color: $lightest;
            text-shadow: $light 2px 2px 3px;
            font-weight: lighter;
            @include mobile{
                font-size: 1.8rem;
            }
        }
        form{
            // border: 2px solid brown;
            height: 80%;
            width: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $darkest;
            input{
                margin: 1rem;
                background-color: $dark;
                border-radius: 0.3rem;
                width: 70%;
                font-size: 1.2rem;
                font-weight: bolder;
                color: $lightest;
                text-align: center;
                @include mobile{
                    font-size: 1rem;
                    width: 85%;
                }
            }
            textarea{
                border-radius: 0.3rem;
                font-size: 1.2rem;
                background-color: $dark;
                color: $lightest;
                width: 70%;
                height: 35%;
                box-shadow: $darker 2px 2px 5px;
                @include mobile{
                    font-size: 1rem;
                    width: 85%;
                }
            }
            button{
                margin: 2rem;
                border-radius: 0.3rem;
                background-color: $dark;
                color: $lightest;
                font-size: 1.4rem;
                height: 2.5rem;
                width: 6rem;
            }
            button:hover{
                background-color: $darker;
                box-shadow: $light 2px 2px 5px;
                cursor: pointer;
            }
            span{
                color: rgb(6, 184, 6);
                font-size: 1.1rem;
            }
        }
    }
    
}