@import '../../global.scss'; 

.intro{
    background-color: $darkest;
    display: flex;
    color: $lightest;
    @include mobile{
        flex-direction: column;
        align-items: center;
    }
    .left{
        // border: 2px solid red;
        flex: 0.5;
        // display: flex;
        overflow: hidden;
        
        .myimage{
            // border: blue 2px dashed;
            background-color: $dark;
            height: 47rem;
            width: 47rem;
            border-radius: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            float: right;
            overflow: hidden;
            
            img{
                margin: 2rem 0rem 14rem 0rem;
                height: 75%;
                width: 100%;
                @include mobile{
                    align-items: flex-start;
                    margin: 0rem 5rem 25rem 0rem;
                    height: 65%;
                }
            }
        }
    }
    .right{
        // border: darkorchid 1px solid;
        flex: 0.5;
        .shortintro{
            // border: darkred 1px solid;
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: center;
            position: relative;
            @include mobile{
                align-items: center;
            }
            
            h1{
                // margin-left: 2rem;
                margin-bottom: 1rem ;
                font-size: 3rem;
                @include mobile{
                    font-size: 2.7rem;
                }
            }
            h2{
                // margin-left: 2rem;
                margin-bottom: 1rem;
                font-size: 1.8rem;
                @include mobile{
                    font-size: 1.6;
                }
            }
            h3{
                // margin-left: 2rem;
                font-size: 1.4rem;
                span{
                    color: rgb(248, 118, 140);
                    font-size: 1.6rem;
                }
                @keyframes cursorBlink {
                    50%{
                        opacity: 0.9;
                    }
                    100%{
                        opacity: 0;
                    }
                }
                .ityped-cursor{
                    font-size: 1.6rem;
                    opacity: 1;
                    animation: cursorBlink 0.7s infinite;
                }
            }
        }
        @keyframes arrowBlink {

            100%{
                opacity: 0;
            }
        }
        .downarrow{
            color: $light;
            height: 3rem;
            width: 4rem;
            position: absolute;
            bottom: 2rem;
            right: 25rem;
            font-weight: lighter;
            opacity: 1;
            animation: arrowBlink 1.3s infinite;
        }
    }
}